* {
    margin: 0;
    padding: 0;
}

Header {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width:425px) {
    .container {
        max-width: 100%;
    }
}


/* @media screen and (max-width:425px) {
    .container .sub-container img {
        display: none;
    }
}

@media screen and (max-width:425px) {
    .container .sub-container .li-class .sub-class .text .text1,
    .text2 {
        display: none;
    }
} */

@media screen and (max-width:425px) {
    .sub-container {}
}

@media screen and (max-width:425px) {
    div.logo {
        display: none;
    }
}

@media screen and (max-width:425px) {
    .sub-tab .tabs-main {
        display: none;
    }
}

@media screen and (max-width:425px) {
    .sub-class .text {
        display: none;
    }
}

@media screen and (max-width:425px) {
    .image img {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .section-container .details1 {
        padding-left: 0px;
    }
}

@media screen and (max-width:425px) {
    .col-lg-9 .line {
        width: 88%;
    }
}

@media screen and (max-width:425px) {
    .col-lg-3 .form {
        margin-left: 50px;
    }
}

@media screen and (max-width:425px) {
    .ClassLine {
        padding-bottom: 12px;
    }
}

@media screen and (max-width:425px) {
    .get-data .text12 {
        font-size: 36px;
    }
}

@media screen and (max-width:425px) {
    .details1 .accordion {
        width: 80%;
        padding: 28px 0px 0px 30px;
    }
}

@media screen and (max-width:425px) {
    .footer-details .important {
        padding-right: 40px;
        padding-left: 20px;
    }
}

@media screen and (max-width:425px) {
    .footer-details .important .imp-list {
        width: 120px;
    }
}

@media screen and (max-width:425px) {
    .footer-details .footer-card {
        margin-top: 0px;
    }
}

@media screen and (max-width:425px) {
    .lower-footer-details {
        margin-top: 10rem;
    }
}

@media screen and (max-width:425px) {
    .lower-footer-details .footer-logo {
        width: 20rem;
    }
}

@media screen and (max-width:425px) {
    footer .top-footer h6 {
        text-align: center;
    }
}

@media screen and (max-width:425px) {
    .lower-footer-details .lower-container,
    .class-lower-container {
        padding-top: 16px;
    }
}

@media screen and (max-width:425px) {
    .bottom-footer-container .bottom-footer-text {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:425px) {
    .bottom-footer-container .bottom-footer-text p {
        text-align: center;
    }
}

@media screen and (max-width:425px) {
    .bottom-footer-container .bottom-footer-text ul {
        text-align: center;
        margin-top: 16px;
    }
}

.sub-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ul-class {
    display: flex;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.li-class {
    padding-left: 0;
    list-style: none;
    /* margin-right: 1rem;
margin-left: 1rem; */
}

.sub-class {
    list-style: none;
    display: flex;
    align-items: center;
}

.consult {
    display: flex;
    flex-direction: row;
}

.consult-text {
    display: flex;
    flex-direction: column;
}

.text {
    list-style: none;
    margin-left: 1rem;
    white-space: normal;
}

.text1 {
    font-size: 15px;
    color: #887F81;
    font-weight: 500;
}

.text2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    text-decoration: none !important;
}

.bottom {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #05A0F6, #51BFFD);
}

.sub-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
}

.list {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    display: block;
}

.main {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.active {
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Cerebri Sans', sans-serif;
    list-style: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    display: block;
    padding: 20px 1vw;
    position: relative;
    font-size: 16px;
    color: #fff;
}

.input-box {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    background-color: #107DF7;
    position: relative;
}

.input-box figure {
    padding-right: 0.5rem;
    padding-left: 0.75rem;
    margin-bottom: 0.25rem;
}

.search-bar {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    display: block;
    color: #FFF;
    height: 64px;
    box-shadow: none;
    background-color: #107DF7;
    border: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation {
    background-image: linear-gradient( to right, #fff, #fff 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-left: 40px;
    font-family: 'Cerebri Sans', sans-serif;
    cursor: pointer;
}

.navigation:before {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.navigation:hover::before {
    width: 100%;
}

.subnav {
    display: flex;
    flex-direction: row;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 36px;
    background: #DAEEFF;
    justify-content: center;
}

form.search-box {
    border: none;
    padding: 0;
}

.page-header {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: #071E4A;
    background-position: center;
    position: relative;
    background-image: url('/uploads/treatments/treatment_header/');
}

.container-main {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 40px;
}

.main-item {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    list-style: none;
    border-radius: .25rem;
    align-items: center;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    position: relative;
}


/* .class-item {
line-height: 1.5;
font-family: 'Cerebri Sans', sans-serif;
list-style: none;
box-sizing: border-box;
display: flex;
font-size: 18px;
font-weight: 500;
color: #FFF;
} */

.class-item .add-before {
    line-height: 1.5;
    font-family: 'Cerebri Sans', sans-serif;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    padding-left: 30px;
    position: relative;
}

.page-header .class-item.add-before::before {
    position: absolute;
    bottom: 3px;
    left: 12px;
    color: #FFF;
    color: #E7022D;
    content: "\f054";
    font-weight: 600;
    font-family: 'font awesome 5 free';
    font-size: .8em;
}

.page-header .class-item a {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}

.page-header .class-item+.class-item {
    padding-left: 30px;
    position: relative;
}

.page-header .class-item {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.class-item+.class-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}

.class-item+.class-item {
    padding-left: 0.5rem;
}

.class-item {
    display: -ms-flexbox;
    display: flex;
}

.breadcrumb-wrap {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.container-wrap {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 40px;
}

.class-item+.class-item::before {
    display: inline-block;
    padding-right: 0.5rem;
}

.page-title {
    color: #FFF;
    font-weight: 600;
}

h6 {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn {
    width: 8rem;
    height: 2rem;
    border: none;
    background: linear-gradient(90deg, #0070bf, #009cfe, #0070bf);
}

.tabs {
    background-color: #FFF;
    border-bottom: 1px solid #C4D2D7;
}

.tabs.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #ccc;
}

.tabs nav ul>li a.active::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #039BF0;
}

.tabs-container {
    padding-right: 15px;
    padding-left: 38px;
    margin-right: auto;
    margin-left: auto;
}

.sub-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs-main {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.nav-item {
    list-style: none;
    box-sizing: border-box;
}

.tabs nav ul>li a:visited {
    color: #000;
}

.tabs nav ul>li a {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 1vw;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

a {
    text-decoration: none;
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.tab-pane {
    display: block;
    scroll-margin-top: 60px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
}

.section-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: space-around;
}

.text4 {
    display: flex;
    flex-direction: column;
}

.heading {
    padding: 12px 30px 0px 30px;
}

.tab-pane .heading h2 {
    font-size: 28px;
    color: #080826;
    font-family: 'Cerebri Sans', sans-serif;
}

.heading h2 span {
    color: #FF002A;
}

.content {
    padding: 30px;
}

.tab-pane .content h4 {
    font-size: 16px;
    color: #535c67;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

section {
    scroll-margin-top: 60px;
    display: block;
}

hr {
    width: 90%;
    border-bottom: 1px dashed #1076FF;
    bottom: 0;
    margin-left: 6%;
}

.details1 {
    padding-left: 3rem;
}

ul {
    list-style: none;
}

.details1 ul li::before {
    content: "\25E6";
    color: blue;
    display: inline-block;
    width: 1em;
    margin-left: 0.1em;
    font-weight: bold;
    font-size: 1.5rem;
}

.line {
    width: 60%;
    border-bottom: 1px dashed #1076FF;
    bottom: 0;
    margin-left: 6%;
    padding: 20px 0px 20px 0px;
}

.row-section {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.faq-sub-tabs {
    background: #fff;
}

.tab-content>.active {
    display: block;
}

.tab-content>.tab-pane {
    display: none;
}

.successful-treatments {
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.successful-treatments-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.owl-carousel.owl-loaded {
    display: block;
}

.common-slider-effect {
    padding-bottom: 50px;
}


/* .owl-carousel {
width: 100%;
z-index: 1;
position: relative;
}
*/


/* .owl-carousel .owl-stage-outer {
position: relative;
overflow: hidden;
-webkit-transform: translate3d(0, 0, 0);
} */

.home-demo .item {
    background: #ff3f4d;
}

.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.outer-slider {
    width: 100%;
    float: left;
}

.carousel-container .outer-slider .inner-slider ul li {
    height: 380px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgb(134, 170, 236);
    border-radius: 4px;
}

.carousel-list {
    display: flex;
    flex-direction: column;
}

.text-head {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0 20px;
}

.comment-image {
    display: block;
    width: 16%;
}

.text5 {
    color: rgb(25, 41, 94);
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
}

.care-image {
    width: 80%;
}

.icon-image {
    width: 30%;
}

.text-head1 {
    display: flex;
    flex-direction: row;
}

.text6 {
    color: rgb(25, 41, 94);
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    padding-top: 18px;
}

.city-text {
    font-size: 10px;
}

.text7 {
    padding: 24px 20px 30px 20px;
    color: rgb(87 101 145);
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
}

.successful-treatments .heading1 h2 {
    font-size: 28px;
    color: #080826;
    font-family: 'Cerebri Sans', sans-serif;
}

.heading1 {
    padding: 12px 30px 0px 74px;
}

.Doctor-details {
    background-color: #E9F2F7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.Doctor-details-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Doctor-details .heading2 h2 {
    font-size: 28px;
    color: #080826;
    font-family: 'Cerebri Sans', sans-serif;
}

.heading2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 30px 0px 74px;
}

.doc-image {
    width: 80%;
    padding-top: 20px;
}

.doc-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}

.text8 {
    color: red;
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
}

.text9 {
    color: black;
    font-weight: 600;
    padding-top: 2px;
    font-size: 14px;
}

.text10 {
    color: rgb(110, 108, 108);
    padding-top: 2px;
    font-weight: 600;
    font-size: 14px;
}

.Hospital-details {
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.Hospital-details-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.doctor-text {
    display: flex;
    flex-direction: row;
}

.get-in {
    background-color: #52bffd;
}

.get-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
}

.text11 {
    font-family: 'Cerebri Sans', sans-serif;
    color: #fff;
    text-align: center!important;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
}

.text12 {
    font-family: 'Cerebri Sans', sans-serif;
    color: #fff;
    text-align: center!important;
    box-sizing: border-box;
    line-height: 1.2;
    font-weight: 600;
    font-size: 3.5rem;
    padding: 10px;
}

.Hospital-details-container .carousel-container .outer-slider .inner-slider ul li {
    height: 380px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px dashed rgb(243, 6, 6);
    border-radius: 4px;
}

.ClassLine {
    height: 50px;
}

.explore {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(243, 6, 6);
    text-decoration: underline;
}

.Contact {
    display: flex;
    flex-direction: row;
}

.number {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 24px;
    margin-left: 20px;
    padding-top: 4px;
    border-left: 1px solid #fff;
}

footer .top-footer {
    background-color: #0b2432;
}

.footer-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pt-5 {
    padding-top: 3rem;
}

.py-4 {
    padding-bottom: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.my-4 {
    margin-bottom: 1.5rem;
}

.imp-link {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    margin-bottom: 1.5rem;
}

.imp-container {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
    padding-left: 0;
}

footer .bottom-footer {
    background-color: #30b1fa;
    padding: 28px;
}

footer a:visited {
    color: #fff;
}

.footer-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    border-bottom: 1px solid #dcd7ea;
}

.important {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    margin-bottom: 1.5rem;
}

footer .top-footer h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.imp-list {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
    padding-left: 0;
}

@media screen and (max-width:390px) {
    .imp-list {
        width: 120px;
    }
}

@media screen and (max-width:390px) {
    .Tourism-Destination .imp-list {
        width: 100%;
    }
}

@media screen and (max-width:390px) {
    .important {
        width: 120px;
        padding-right: 36px;
        padding-left: 0px;
    }
}

@media screen and (max-width:390px) {
    .footer-container .footer-card {
        margin-top: 0px;
    }
}

.imp-list li span {
    color: #0082fb;
}

.footer-card {
    height: 6rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #fff;
    margin-top: -80px;
}

.footer-detail {
    display: flex;
    flex-direction: column;
    border: #000;
}

.col-1 {
    display: flex;
    flex-direction: row;
}

.w-100 {
    width: 50px;
}

img {
    border-style: none;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container span {
    font-size: 16px;
    color: #a4a7b2;
    padding-left: 10px;
}

.text-container h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
    padding-left: 10px;
    color: #000;
}

.footer-card .footer-detail h5 {
    color: #75777d;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 500;
}

.Tourism-Destination {
    padding-top: 2rem;
}

.imp-list li {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #fff;
}

.lower-footer-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    justify-content: center;
}

.class-lower-container {
    display: flex;
    flex-direction: column;
}

.social-icon {
    display: flex;
    flex-direction: row;
}

.footer-logo {
    width: 25rem;
    height: 10%;
}

.lower-container {
    padding-left: 16px;
    padding-right: 16px;
}

.lower-container h6 {
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Cerebri Sans', sans-serif;
    color: #fff;
    font-size: 19px;
    margin-bottom: 1rem;
}

.lower-container span {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #fff;
}

.class-lower-container h2 {
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    font-size: 19px;
    margin-bottom: 1rem;
    padding-top: 12px;
    margin-left: 6px;
    padding-bottom: 12px;
}

.class-lower-container h4 {
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    padding: 10px 0px;
    margin-left: 6px;
    color: #fff;
    font-size: 20px;
}

.class-lower-container h3 {
    line-height: 1.5;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    transition: .4s;
    font-size: 24px;
    font-weight: 500;
    color: #2CAFF9;
}

.bottom-footer-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.bottom-footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* @media screen and (max-width:390px) {
    .bottom-footer-text {
        display: flex;
        flex-direction: column;
    }
} */


/* @media screen and (max-width:390px) {
    .footer-details {
        width: 22rem;
        padding-top: 1rem;
        justify-content: space-between;
    }
} */

.bottom-footer-text ul {
    display: flex;
    flex-wrap: wrap;
}

.bottom-footer-text li {
    padding-left: 4px;
    padding-right: 12px;
    color: #fff
}

.bottom-footer-text p {
    color: #fff;
}

.back-menu {
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, #05A0F6, #51BFFD);
    margin: 0;
    top: 60px;
    /* position: fixed; */
    -webkit-box-shadow: 0px 10px 13px -6px rgba(92, 92, 92, 0.66);
    -moz-box-shadow: 0px 10px 13px -6px rgba(92, 92, 92, 0.66);
    box-shadow: 0px 10px 13px -6px rgba(92, 92, 92, 0.66);
}

.back-menu-center {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.menu-items {
    height: 60px;
    width: 100%;
    align-items: center;
    display: flex;
    /* top: 50px; */
    justify-content: center;
    position: relative;
}

.menu-items ul {
    list-style: none;
    display: flex;
}

li[class^="menu-item-"] a {
    margin: 12px 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}


/* li[class^="menu-item-"] a:hover {
    color: #dc18ff!important;
} */


/* .menu-item-1 a {
    color: rgb(97 159 255)!important;
} */

.menu-item-1 {
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Cerebri Sans', sans-serif;
    cursor: pointer;
}

.menu-item-1:before {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.menu-item-1:hover::before {
    width: 100%;
}

.toggle-menu {
    transform: translateX(10%) translateY(100%);
    display: none;
    margin-top: -45px;
}

@media screen and (min-width:390px) {
    .toggle-menu {
        margin-top: 0px;
    }
}

@media screen and (min-width:390px) {
    .fas {
        margin-top: -22px;
    }
}

.toggle-icon {
    font-size: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.toggle-items {
    list-style: none;
    background-color: rgb(97 159 255);
    line-height: 47px;
    position: absolute;
    width: 130px;
    display: none;
    border-radius: 5px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

li[class^="toggle-item-"] a {
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
}

li[class^="toggle-item-"] a:hover {
    color: #dc18ff!important;
}

.toggle-item-1 a {
    color: rgb(97 159 255)!important;
}

.toggle-item-1 {
    color: #fff;
}


/* .toggle-item-1:before {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
} */

.toggle-item-1:hover {
    color: rgb(54, 82, 175);
}


/* 
.toggle-item-1:hover::before {
    width: 100%;
} */

#toggle-btn {
    display: none;
}

#toggle-btn:checked+ul {
    display: block;
}

@media screen and (max-width:425px) {
    .toggle-menu {
        display: block;
        margin-right: 48px;
    }
    .back-menu-center {
        display: none;
    }
}


/* @media screen and (min-width:425px) {
    .toggle-menu {
        display: none;
    }
} */

.input-box {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Cerebri Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    background-color: #107DF7;
    position: relative;
}

.input-box figure {
    padding-right: 0.5rem;
    padding-left: 0.75rem;
    margin-bottom: 0.25rem;
}

.search-bar {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    display: block;
    color: #FFF;
    height: 64px;
    box-shadow: none;
    background-color: #107DF7;
    border: none;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 60px;
    background: #107DF7;
    justify-content: center;
    margin-left: 20px;
}

form.search-box {
    border: none;
    padding: 0;
}

input.search-box {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #000000;
    border: none;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.menu-items ul ul {
    position: absolute;
    display: none;
    left: 0;
    top: 60px;
    z-index: 100;
    width: 150px;
    background-color: #6fbcfc;
}

.menu-items ul li:hover>ul {
    display: block;
}

.menu-item-1 ul li {
    color: #173966;
    padding: 10px;
    margin-right: 20px;
}

.menu-item-1 ul li:before {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.4s ease-in-out;
}

.menu-item-1 ul li:hover::before {
    width: 100%;
}

.menu-items ul ul li {
    width: 130px;
    float: none;
    display: list-item;
    position: relative;
}

.menu-items ul ul li:hover {
    background-color: #32579b;
}


/*  */

.toggle-items ul {
    /* position: absolute; */
    display: none;
    left: 0;
    top: 60px;
    background-color: #6fbcfc;
    border-radius: 4px;
}

.toggle-items ul li:hover>ul {
    display: block;
}

.toggle-item-1 ul li {
    color: #173966;
    padding: 10px;
    margin-right: 20px;
}

.toggle-item-1 ul li:before {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.toggle-item-1 ul li:hover::before {
    width: 100%;
}

.toggle-items ul li {
    width: 70px;
    float: none;
    display: list-item;
    position: relative;
}

.accordion {
    width: 60%;
    padding: 28px 0px 0px 48px;
}

.accordion-container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
}

.accordion .accordion-item {
    border-bottom: 1px solid lightgray;
}

.accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #097eff;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: text;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #097eff;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #097eff;
    border: 1px solid #097eff;
}

.accordion button .accordion-title {
    color: #2C2E2F;
    padding: 1em 1.5em 1em 0;
    font-weight: 500;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    color: #097eff;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    /* border: 1px solid; */
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded=true] {
    color: blue;
}

.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    color: #535c67;
    padding-left: 20px;
    border-left: 2px solid #097eff;
    margin-left: 20px;
}

.col-lg-3 {
    padding-top: 1.5rem!important;
}

@media screen and (max-width:425px) {
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.right-left .sticky-form {
    position: sticky;
    top: 80px;
    padding: 20px;
    float: right;
    box-shadow: 0 0 10px 0 #ccc;
}

.rounded {
    border-radius: 0.25rem!important;
}

.right-left .sticky-form h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.75rem;
    color: #008aff;
}

.form h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.75rem;
    color: #008aff;
}

.right-left .sticky-form p {
    font-size: 16px;
    color: #535c67;
    margin-top: 0;
    margin-bottom: 1rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1.5rem!important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.theme-btn {
    margin: 0;
    padding: 0;
    width: 50px;
    border-radius: 0.25rem!important;
}

.form {
    box-shadow: 0 0 10px 0 #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    box-shadow: 0 0 10px 0 #ccc;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #9c9ebb;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}


/* 
.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
} */

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    font-weight: 400;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-40px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}


/* .input:focus~.placeholder {
    color: #dc2f55;
} */

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}

.mobile-view-tabs {
    display: flex!important;
    justify-content: space-around!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    appearance: none;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}